@import "tailwindcss";
@import "nativewind/theme";

@theme {
  --font-display: 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
  --font-sans: 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-primary-green: #E5FF1F;
  --color-primary-emerald: #5bb754;
}

.font-display {
  font-family: 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
}

.font-sans {
  font-family: 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}